<form [formGroup]="form4edit" (ngSubmit)="doEditUser()">
    <label for="username">Username: </label><br>
    <input type="text" formControlName="username"><br>
    <label for="name">Name: </label><br>
    <input type="text" formControlName="name"><br>
    <label for="surname">Surname: </label><br>
    <input type="text" formControlName="surname"><br>
    <label for="email">Email: </label><br>
    <input type="text" formControlName="email"><br>
    <label for="phoneNumber">Phone Number: </label><br>
    <input type="text" formControlName="phoneNumber"><br><br>
    <input [disabled]="!form4edit.valid" type="submit" value="Change">
</form>

<!-- <p>{{form4edit.valid}}|json</p> -->