<p [ngClass] = "'title'">Users List</p>

<div class="container">
    <div *ngFor="let user of users; index as i">
        {{user.Name}} {{user.Surname}}<br>
        {{user.Email}}<br>
        {{user.PhoneNumber}}<br>
        <button (click)="selected = i">Edit</button>
        <span *ngIf="selected > -1">
            <p>Siema</p>
            <app-edit-user
                [user4edit]="user"
                [selectedUser]="selected"
            ></app-edit-user>
        </span>


    </div>

</div>

