<div class="user-profile">
  <p>user works!</p>
  <p>{{ user.Username }}</p>
  <p>{{ user.Name }} {{ user.Surname }}</p>

  <span *ngIf="yourProfile">
    <p>Witaj na swoim Profilu!</p>
  </span>

  <p>Tablica użytkownika</p>
  <app-posts [posts]="user_posts"></app-posts>

  <div *ngIf="!yourProfile">
    <p>Przycisk akcji Znajomych</p>
    <span *ngIf="!isLoggedUserFriendWithCurrentUser()">
      <button (click)="sendInvite()">Dodaj znajomego</button>
    </span>
    <span *ngIf="isLoggedUserFriendWithCurrentUser()">
      <button (click)="removeFriend()">Usun znajomego</button>
    </span>
  </div>

  <div *ngIf="yourProfile">
    <p>Znajomi:</p>
    <ul *ngFor="let user of this.user.FriendsList">
      <li>{{user}}</li>
    </ul>
  </div>

  <div *ngIf="yourProfile">
    <p>Lista zaproszeń</p>
    <ul *ngFor="let request of this.requests">
      <li>
        Id {{ request.Id }} Status {{ request.status }} {{ request.from.username }} {{ request.to.username }}
        <button (click)="acceptInvite(request)">
          Akceptuj
        </button>
        <button (click)="declineInvite(request)">
          Odrzuć
        </button>
      </li>
    </ul>
  </div>

  <div *ngIf="yourProfile">
    <p>Cała Lista zaproszeń</p>
    <ul *ngFor="let request of this.allRequests">
      <li>
        Id {{ request.Id }} Status {{ request.status }} {{ request.from.username }} {{ request.to.username }}
        
        
      </li>
    </ul>
  </div>