<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Mini-facebook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">            
            <!-- When someone is logged -->
            <li>
                <span *ngIf="isLogged">
                    <a class="nav-link" [routerLink]="['/show-user', this.loggedUser.Id]" routerLinkActive="active" >Profil {{this.loggedUser.username}}</a>      
                </span>
            </li>
            <li>
                <span *ngIf="isLogged">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" (click)="logout()">Wyloguj</a>      
                </span>
            </li>
            
            <!-- When no one is logged -->
            <li>
                <span *ngIf="!isLogged">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Zaloguj</a>
                </span>
            </li>
            <li>
                <span *ngIf="!isLogged">
                    <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active" >Zarejestruj sie</a>

                </span>
            </li>
            
        </ul>
    </div>
</nav>
