<p [ngClass] = "'title'">Users List</p>

<div class="container">
    <div *ngFor="let user of users; index as i">
        {{user.Name}} {{user.Surname}}<br>
        {{user.Email}}<br>
        {{user.PhoneNumber}}<br>
        <button (click)="selected = i">Edit</button>
        <span *ngIf="selected == i">
            <app-edit-user
                [user4edit]="user"
                [selectedUser]="selected"
                (doEditInParent)="doEditUser($event)"
            ></app-edit-user>
        </span>
        <!-- <span *ngIf="selected != i ">
            <a [routerLink]="['/edit-student', i]">Edycja w odz oknie</a>

        </span> -->
        

    </div>

</div>

