<form [formGroup]="form4edit" (ngSubmit)="doEditUser()">
    <label>Username: </label><br>
    <input type="text" formControlName="username"><br>
    <label>Name: </label><br>
    <input type="text" formControlName="name"><br>
    <label>Surname: </label><br>
    <input type="text" formControlName="surname"><br>
    <label>Email: </label><br>
    <input type="text" formControlName="email"><br>
    <label>Phone Number: </label><br>
    <input type="text" formControlName="phoneNumber"><br><br>
    <input [disabled]="!form4edit.valid" type="submit" value="Change">
</form>

<!-- <p>{{form4edit.valid}}|json</p> -->