
#post_display ul {
  list-style: none;
  padding: 0;
}


#post_display li {
  margin-bottom: 10px;
}

#post_display li:first-child {
  font-weight: bold;
}


@media (max-width: 768px) {
  #post_display {
      width: 100%;
  }
}