
#post_display ul {
  list-style: none;
  padding: 0;
}

#post_display{
  display: flex;
  flex-direction:column;
}

#post_display div {
  margin-bottom: 10px;
}

#post_display div:first-child {
  font-weight: bold;
}

#post_display .top-post {
  display: flex;
}

#post_display .top-post .date {
  margin-left:auto;
}


#post_display .post_data {
  display: flex;
}

#post_display .post_data div {
  text-align: center;
  width: 33%;
}

#post_display .post_data img {
  width: 30px;
}


@media (max-width: 768px) {
  #post_display {
      width: 100%;
  }
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
