<div class="container-fuild">
    <div class="row">
        <!-- Friends Panel -->
        <section class="col-3">
            <p>{{this.logged.Surname}}</p>
            <h1>User List</h1>
            <!-- User list display -->
            <app-users
                [users]="this.users"
            ></app-users>
            

        </section>
        <!-- Blog list  -->
        
        <main class="col-6">
            <!-- component for adding new post -->
            <app-add-post ></app-add-post>
            <!-- component for listing posts -->
            <app-posts 
                [posts]="this.posts"
                [your_profile]="false"
            ></app-posts>
            
        
        </main>

        <aside class="col-3">
            <h2>Info of the day</h2>
            <br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </aside>

    </div>    
</div>
